body {
  padding: 50px 25px 25px 25px;
}

container {
  width: 400px;
  margin: 0px auto;
}

.well {
	max-width: 450px;
	min-width: 280px;
	margin: 0px auto;
}

@media screen and (max-width: 320px) {
.well {
width: 290px;
margin: 0px auto 20px auto;
}
}


.answer {
  font-size: 16px;
}

li {
  font-size: 16px;
}

.next-version {
  visibility: hidden;
}

.online-screenshot {
  border: 1px solid black;
}


@media screen and (max-width: 320px) {
  .online-screenshot {
    width: 140px;
  }	
}

@media screen and (min-width: 321px) and (max-width: 480px) {
  .online-screenshot {
    width: 280px;
  }	
}

@media screen and (min-width: 481px) {
  .online-screenshot {
    width: 350px;
  }	
}
