body {
  padding: 50px 25px 25px 25px;
}

container {
  width: 400px;
  margin: 0px auto;
}

.well {
	max-width: 450px;
	margin: 0px auto;
}

.answer {
  font-size: 16px;
}

li {
  font-size: 16px;
}

.next-version {
  visibility: hidden;
}

@media screen and (max-width: 320px) {
  img {
    width: 189px;
  }	
}

@media screen and (min-width: 321px) and (max-width: 480px) {
  img {
    width: 280px;
  }	
}

@media screen and (min-width: 481px) {
  img {
    width: 378px;
  }	
}
