body {
  padding-top: 40px;
  min-height: 600px;
}

.main-title {
	font-size: 20pt;
}

.main-subtitle {
	.font-size: 20px;
}

@media screen and (max-width: 320px) {
  .well {
    width: 290px;
    margin: 0px auto 20px auto;
  }
}

@media screen and (min-width: 321px) {
  .well {
    width: 350px;
    margin: 0px auto;
  }
}

#username-field {
	placeholder: "New placeholder";
}

.entry-form-label {
	font-size: 12pt;
}

@media screen and (max-width: 320px) {
  .entry-form, .display-field {
	width: 248px;
	text-align: center;
	font-style: italic;
	font-size: 12pt;
  }
}

@media screen and (min-width: 321px) {
  .entry-form, .display-field {
	width: 250px;
	text-align: center;
	font-style: italic;
	font-size: 12pt;
  }
}

.display-when-ready {
	display: none;
}

.next-version {
  visibility: hidden;
}
